/**********************************
* Begin code for bar on left side *
**********************************/

#left-sidebar {
	background-color: #FFFFFF;
}

#navigation	{
	background-color: #FFFFFF;
	border: 1px #999 solid;
}
					
#navigation ul#leftnav	{
	border-bottom: dotted 1px #999;
}
						
#navigation ul#leftnav li.current {
	background-color: #FFF;
}

#navigation ul#leftnav li a {
	color: #666;
	background: #FFF url('/img/ffffff.gif') repeat-x bottom left;
	border-top: 1px dotted #999;
}

#navigation ul#leftnav li a:hover {
	background-color: #FFF;
}

#navigation ul#leftnav li.current a {
	background-image: none;
	border-top: 1px dotted #999;
}

#navigation ul#leftnav li.current a:link,
#navigation ul#leftnav li.current a:link {
	color: #003F5F;
	background-color: #FFF;
}

#navigation ul#leftnav li.current ul#left-subnav {
line-height:140%;
padding:0 0 3px 15px;
}

#navigation ul#leftnav li.current ul#left-subnav {
	background: #FFF url('/img/ffffff.gif') repeat-x bottom left;
}

#navigation ul#leftnav li.current ul#left-subnav li.current a:link {
	color: #003F5F;
}

#navigation ul#leftnav li.current ul#left-subnav li a	{
	background-color: #FFF;
	  background: url('/img/sidebar_arrow.gif') no-repeat left 3px;
      padding-left: 12px;
}

#navigation ul#leftnav li.current ul#left-subnav li a:link {
	color: #666;
}

#navigation ul#leftnav li.current ul#left-subnav li a:hover {
	text-decoration: underline;
}


 /***********************************************************
* Start code for links in the top right corner of the page *
***********************************************************/
#toplinks {
background-color:#7CA1D0;
height:16px;
margin:0 auto;
padding:2px 0;
text-align:right;
width:800px;
}


#toplinks-list {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin: 0px;
	padding: 0px 20px 0px 0px;
	list-style-type: none;
	line-height: 120%;
}

#toplinks-list li {
	display: inline;
	list-style-type: none;
	padding: 0px 8px 0px 8px;
	margin: 0px;
	height: 14px;
	border-right: 1px solid #FFF;
}

#toplinks-list li.right {
	border: 0px;
}


#toplinks-list li a:link,
#toplinks-list li a:visited {
	color: #FFF;
	text-decoration: none;
}

#toplinks-list li a:hover,
#toplinks-list li a:active {
	color: #FFF;
	text-decoration: underline;
}

/* Logo - Uses image replacement technique*/

#logo {
	float: left;
	width: 380px;
	text-align: center;
	padding-top: 15px;	
	padding-left: 16px;
	height: 62px;
	position: relative;
	font-weight: bold;
    font-size: 14px;
	color: #666;
	}
#logo span {
	background: url("/img/logo.gif") no-repeat;
	position: absolute;
	width: 100%;
	height: 100px;
	}

#logo a {
	text-decoration: none;
	color: #666;
	border: 0;
}

/* User Navigation */

#usernav {
    float: right;
    padding-top: 20px;
    width: 800px;
    font-size: 10px;
    
}

#usernav ul {
    margin: 0;
    background: transparent url("/img/usernav-dots.gif") repeat-x 0 0;
    text-align: right;
    list-style: none;
    height: 28px;
    padding-top: 5px;
	margin-right: 0px;
}

#usernav li {
    display: inline;
}

#usernav a, #usernav a:visited, #usernav a:link {
    padding: 5px 15px;
    text-decoration: none;
    font-weight: bold;
    color: #0B65B3;
}

#usernav a:hover {
    text-decoration: underline;
}

#usernav a.current:link, #usernav a.current:visited,
#usernav a.current:hover, #usernav a.current:active {
    color: #003F5F;
    text-decoration: none;
}
#content #onecol {
float:left;
padding:15px 0px 0px 10px;
width:535px;
}


#introblurb {
float: left;
width: 330px;
}
#rsvp{
width: 196px;
height: 80px;
background-color:#7eadd7;
float: right;}
#rsvp p {
color: #FFFFFF;
padding: 10px;}

#sidebar img {
margin:0px;
padding:0px;
}

.banner-image {
margin-left: 10px;}

#sidebar img {
margin:0px;
padding:0px;
}

#sidebar ul	{
	margin-top: 10px;
	padding-left: 10px;
	list-style:none;}
						
#sidebar ul li {
	display:block;
	margin-top: 5px;
	voice-family: "\"}\"";
	voice-family:inherit;}
						
#sidebar ul li a {
	display: block;
	padding: 0px 0px 0px 15px;
	background: url('/img/sidebar_arrow.gif') no-repeat left 5px;
	width: 160px;
	text-decoration: none;
	color: #000;
}
#sidebar ul li a:hover {
	text-decoration: underline;}


#twocol ul, #onecol ul	{
	margin-top: 10px;
	padding-left: 10px;
	list-style:none;}
						
#twocol ul li, #onecol ul li {
	display:block;
	margin-top: 5px;
	voice-family: "\"}\"";
	voice-family:inherit;}
    
#twocol ul li.nolink, #onecol ul li.nolink {
	display:block;
	margin-top: 5px;
	voice-family: "\"}\"";
	voice-family:inherit;
    background: url('img/twocol_arrow.gif') no-repeat left 5px;
    padding: 0px 0px 0px 15px;}
						
#twocol ul li a, #onecol ul li a {
	display: block;
	padding: 0px 0px 0px 15px;
	background: url('img/twocol_arrow.gif') no-repeat left 5px;
	text-decoration: none;
	color: #000;
}
#twocol ul li a:hover, #onecol ul li a:hover {
	text-decoration: underline;}
    
#twocol ul li.subitems, #twocol ul li.subitems, #sidebar ul li.subitems {
    margin-top: 10px;}
    
#onecol ul#vendorlist li {
display:block;
	margin-top: 5px;
}
    
#onecol ul#vendorlist li a {
    background: none;}
	
	table.rsvp {
	border-collapse: collapse;
	border: none;
	
}

table.rsvp caption {
	font-size: 1.1em;
	font-weight: bold;
	letter-spacing: -1px;
	margin-bottom: 10px;
	padding: 5px;
	background: #efefef;
	border: none;
}

table.rsvp  a {
	text-decoration: none;
	border: none;
	font-weight: bold;
}

table.rsvp  a:hover {
	text-decoration: none;
	background: #f60;
}

table.rsvp  tr th a {
	border: none;
}

table.rsvp  tr th a:hover {
	color: #fff;
	background: #369;
}

table.rsvp  thead tr th {
	text-transform: uppercase;
	background: #e2e2e2;
	color: #003F5F;
}

table.rsvp  tfoot tr th, table tfoot tr td {
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
}

table.rsvp  tfoot tr th {
	width: 20%;
}

table.rsvp  tfoot tr td {
	width: 80%;
}

table.rsvp  td, table th {
	border: none;
	padding: 5px;
	line-height: 1.8em;
	vertical-align: top;
	width: 20%;
}

table.rsvp  tr.odd th, table tr.odd td {
	background: #efefef;
}